<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Student Management System </title>
</head>

<body class="relative min-h-screen w-screen">
    <nav class="bg-black flex gap-4 p-4 text-white">
        <a class="" href="/"> Home </a>
        <a class="" href="/students"> Students </a>
        <a class="" href="/courses"> Courses  </a>
        <a class="" href="/transactions"> Transactions </a>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="absolute bottom-0 left-0 bg-black text-white text-center p-2 w-full">
        <span> Copyright &copy; 2024 - Refactory Academy </span>
    </footer>
</body>

</html>